body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.yt-frame {
  width: 150%;
  height: 150%;
  border: none;
}

/* RIGHE */
.row {
  display: flex;
  width: 100%;
}

.row1 {
  height: 50%;
}

.row2 {
  height: 50%;
}

.row3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #050505;
  border-top: 1px solid #222;
}

.footer-logo {
  height: 40px;
}

.footer-right {
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 2px;
}

.row1 { height: 50%; }
.row2 { height: 33.33%; }
.row3 { height: 16.67%; }

/* CELLE */
.cell {
  flex: 1;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #111;
}

.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 👈 IMPORTANTISSIMO */
}

/* FORMATO 16:9 */
.ratio-16-9 {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.ratio-16-9 iframe,
.ratio-16-9 video,
.ratio-16-9 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

/* IMMAGINI */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  font-family: monospace;
}

.clock {
  background: #111;
  border-left: 3px solid #00ffcc;
  padding: 8px;
}

.city {
  font-size: 11px;
  color: #00ffcc;
}

.time {
  font-size: 18px;
}

iframe.scaled {
  transform: scale(0.6);   /* prova 0.7–0.9 */
  transform-origin: top left;
  width: 170%;  /* compensazione */
  height: 170%;
}
