body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* RIGHE */
.row {
  display: flex;
  width: 100%;
}

.row1 {
  height: 50%;
}

.row2 {
  height: 50%;
}

.row1 { height: 50%; }
.row2 { height: 33.33%; }
.row3 { height: 16.67%; }

/* CELLE */
.cell {
  flex: 1;
  padding: 2px;
  box-sizing: border-box;
}

.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 👈 IMPORTANTISSIMO */
}

/* FORMATO 16:9 */
.ratio-16-9 {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.ratio-16-9 iframe,
.ratio-16-9 video,
.ratio-16-9 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

/* IMMAGINI */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CLOCK */
.clocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
}
